{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!--Message output-->
      List of messages will go here.
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!--Message input-->
      Message input form will go here.
    </div>
  </div> <!-- row -->
</div>

{% endblock %}
